.all{
    background:linear-gradient(rgba(221, 84, 84, 0.3), rgba(60,60,60,0.4), rgba(99,99,99,0.5)) ;
    min-height: 100vh;
    margin: 0;
    padding: 0;

}

.btn{
    width: 5rem;
    height: 2rem;
    margin-left: 17%;
    color: red;
    background-color: aliceblue;
    border:1px solid brown;
    cursor: pointer;
}
.task{
    width: 30vw;
    background-color: rgb(255, 11, 11);
    color: rgb(252, 252, 252);
    margin: 2rem 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    position: relative;
    left: 0;
}
.task h1{
    word-wrap: break-word;
    width: 22vw;
    text-align: center;
}
.task h4{
    cursor: pointer;
    background-color: wheat;
    color: black;
    border-radius: 2rem;
    padding: 0.3rem;
}
.task h4:hover{
    background-color: rgb(245, 151, 37);
}
.mainTarget{
    width: 40vw;
    display: flex;
    justify-content:center ;
}
.new1{
    left: 35%;
    transition: left 0.9s;
    background-color: rgb(0, 47, 255);
}
.time{
    margin-top: -1.7rem;
}
.new2{
    left: 65%;
    transition: left 0.9s;
    background-color: rgb(12, 211, 72);
}

input{
    height: 3em;
    width: 15em;    
}
.delete{
    margin-top: -1.7rem;
    cursor: pointer;
    font-weight: 900;
}